
._gf_fretboard {
    position:relative;
    float:left;
    margin-left: 10px;
    padding: 10px;
    --fretboardBG: rgb(82, 73, 75);
    --fretmarkerOpacity: .1;
    --hilightNoteBorder: 1px solid black;
    --hilightNoteRadius: 40%;
    --root: #8A9BA7;
    --third: #B7EAF7;
    --fifth: #E3BFB7;
    --seventh: #FFE4C9;
}

/* Themes */
._gf_fretboard.bright {
    --fretboardBG: sandybrown;
    --hilightNoteBorder: 1px solid white;
    --fretmarkerOpacity: .3;
    --hilightNoteRadius: 50%;
    --root: blue;
    --third: green;
    --fifth: red;
    --seventh: tan;
    --ninth: purple;
}
._gf_fretboard.navy {
    --fretboardBG: rgb(48, 102, 116);
    --hilightNoteBorder: 1px solid white;
    --fretmarkerOpacity: .3;
    --hilightNoteRadius: 50%;
    --root: blue;
    --third: green;
    --fifth: red;
    --seventh: tan;
    --ninth: purple;
}
._gf_fretboard.simple {
    --fretboardBG: transparent;
    --hilightNoteBorder: 1px solid black;
    --fretmarkerOpacity: 0;
    --hilightNoteRadius: 50%;
    --root: transparent;
    --third: transparent;
    --fifth: transparent;
    --seventh: transparent;
    --ninth: transparent;
}

._gf_fretboard ._fretboard{
    display: table;
}
._gf_fretboard ul{
    margin: 0;
    padding: 0; 
    display: flex; 
}
._gf_fretboard li{
    position: relative;
    list-style: none;
    height: 2em;
    width: 5em;
    border-right: none;
    border-bottom: 1px solid #000000;
    background: repeating-linear-gradient(to left, #443333, #888888 0.37em, var(--fretboardBG) 0.35em,var(--fretboardBG) 20em);
}
._gf_fretboard li:hover::after {
    content: attr(data-note);
    background: var( --fretboardBG);
    -webkit-background-clip: text; background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1) contrast(9);
    left:calc(50% - 1em);
    bottom:0%;
    position:absolute;
}

._gf_fretboard li:nth-child(2){
    border-left: 1.25em solid #333333;
}
/* fret before the nut */
._gf_fretboard li:first-child {
    background: var(--fretboardBG);
    width: 1.25em;
}
/* first string BG */ /* I don't like that these are nth-child(3) */
._gf_fretboard ._fretboard ul:first-child li{
    background: none;
    display: flex !important;
} 
._gf_fretboard ._fretboard ul:first-child li:nth-child(2){
    border-left: 1.25em solid transparent;
}

/* fret markers */
._gf_fretboard li .fretMarker {
    position: absolute;
    left: calc(50% - .7em);
    border: 1px solid white;
    background-color: white;
    font-size: 1.65em;
    border-radius: 50%;
    width: 1.1em;
    height: 1.1em;
    opacity: var(--fretmarkerOpacity);
    filter: blur(2.5px);
    z-index: 1;
}
._gf_fretboard [data-fret="12"] .fretMarker:first-of-type,._gf_fretboard [data-fret="24"] .fretMarker:first-of-type {
    top:-45px;
}
._gf_fretboard  [data-fret="12"] .fretMarker:last-of-type,._gf_fretboard  [data-fret="24"] .fretMarker:last-of-type {
    top:45px;
}


/* note highlight circles */
._gf_fretboard li span {
    position: absolute;
    top: 50%; 
    left: calc(50% - .7em);
    border: var(--hilightNoteBorder);
    font-family: sans-serif;
    font-size: 1.65em;
    text-align: center;
    border-radius: var(--hilightNoteRadius);
    width: 1.15em;
    height: 1.15em;
    z-index: 3;
}
/* on open strings */
._gf_fretboard li:first-child span {
    position: absolute;
    left: -.6em;
}
._gf_fretboard li span:hover::after {
    content: attr(data-interval);
    color:white;
    font-size: .5em;
    align-content: center;
}

/* interval colors */
._gf_fretboard .root{
    background-color: var(--root);
    opacity: 1;
}
._gf_fretboard .second{
    background-color: rgb(208, 255, 0);
    opacity: .8;
}
._gf_fretboard .third{
    background-color: var(--third);
    opacity: 1;
}
._gf_fretboard .fourth{
    background-color: rgb(247, 0, 255);
    opacity: .8;
}
._gf_fretboard .fifth{
    background-color: var(--fifth);
    opacity: 1;
}
._gf_fretboard .sixth{
    background-color: rgb(255, 136, 0);
    opacity: .8;
}
._gf_fretboard .seventh{
    background-color: var(--seventh);
    opacity: .8;
}

._gf_fretboard #_gf_controls{
    padding:5px;
    padding-top: 20px;
    margin:auto;
    text-align: center;
}

._gf_fretboard #_output{
    position:absolute;
    width:100%;
    margin:auto;
    top: -1px;
    text-align: center;
    font-family: serif;
    font-size: 1.65em;
    z-index: 5;
}

._gf_fretboard #_beatMarker{
    position:absolute;
    width:100%;
    top:-5px;
    text-align: left;
    font-family: serif;
    font-size: 1em;
}
.beatMarkerOff{
    background-color:transparent;
    opacity: 1;
    transition: 0.4s;
}
.beatMarker{
    opacity: 0;
    background-color: red;
}


