.fretboard {
    margin: 10px;
    padding: 6px;
}
.fretboard ul{
    margin: 0;
    padding: 0; 
    display:flex; 
}

.fretboard li{
    display: inline-block;
    position: relative;
    list-style: none;
    height: 2em;
    width: 5em;
    border-right: 1px solid;
    border-bottom: 1px solid;
    background: repeating-linear-gradient(to left, #000000, #999999 0.5em, sandybrown 0.5em,sandybrown 20em);
}
.fretboard li:hover::after {
    content: attr(data-note);
    color:#666666;
  }

/*this could be a gradient for the nut*/
.fretboard li:nth-child(2){
    border-left: 1.25em solid #333333;
}

.fretboard li:first-child {
    background: sandybrown;
    width: 1.25em
}

.fretboard ul:first-child li{
    background: none;
    border:none;
    display: flex !important;
    border-left:1px solid transparent;
 } 

 .fretboard ul:first-child li:nth-child(2){
    border-left: 1.25em solid transparent;
   
}


/* circles */
.fretboard li span {
    position: absolute;
    top: 50%;
    left: .6em;
    border: 1px solid white;
    font-family: sans-serif;
    font-size: 1.65em;
    opacity: .85;
    text-align: center;
    border-radius: 50%;
    width: 1.1em;
    height: 1.1em;
    z-index: 3;
    
}

/* Circles on open strings */
.fretboard li:first-child span {
    position: absolute;
    top: 0.6em;
    left: -.6em;
    z-index: 3;
}

.fretboard li span:hover::after {
    content: attr(data-interval);
    color:white;
    font-size: .5em;
    align-content: center;
  }

  .fretboard .root{
    background-color: blue;
    opacity: .8;
}
.fretboard .second{
    background-color: rgb(208, 255, 0);
    opacity: .8;
}
.fretboard .third{
    background-color: red;
    opacity: .8;
}
.fretboard .fourth{
    background-color: rgb(247, 0, 255);
    opacity: .8;
}
.fretboard .fifth{
    background-color: green;
    opacity: .8;
}
.fretboard .sixth{
    background-color: rgb(255, 136, 0);
    opacity: .8;
}
.fretboard .seventh{
    background-color: tan;
    opacity: .8;
}


.beatMarkerOff{
    width: 100px;
    height: 50px;
    font-size: 2em;
    background-color:transparent;
    opacity: 1;
    transition: 0.4s;
}
.beatMarker{
    width: 100px;
    height: 50px;
    opacity: 0;
    background-color: red;
}